### IntelliJ IDEA/Android Studio ###

# - metadata
.idea/*
!.idea/artifacts/
!.idea/libraries/
!.idea/modules.xml

# IMPORTANT: Comment out the line below this comment if JDK names configured in
#   IntelliJ can't be made consistent across team members' machines; otherwise,
#   including misc.xml in Git will result in needless merge conflicts.
!.idea/misc.xml

## Java ##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
*.iml
hs_err_pid*

# - temporary files
/captures/

# - build output
/out/

# - GSON
.idea/libraries/google_code_gson.xml


### Eclipse ###
.settings/
bin/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath

# - metadata
/.settings/
/.metadata/
.project
.classpath

# - build output
/bin/


### Gradle ###
bin/
build/
.gradle
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar

# - temporary files
/.gradle/

# - local properties
local.properties

# - build output
/build/


### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Developer information
HELP.md

# - build output
/target/


### Database ###

# BE SURE TO EXCLUDE ANY LOCAL DATABASE DIRECTORY/FILES AND LOG FILES!


### Floobits ###

# - metadata
.floo
.flooignore


### OS X ###

# - metadata
.DS_Store
